@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  margin: 0;
  display: flex;
  place-items: center;
  justify-content: center;
  min-width: 320px;
  min-height: 100vh;
  background: linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), url('/assets/bg-photo.png') no-repeat center center fixed;
  background-size: cover;
  background-position: center;
}
